@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes blink {
    0%,
    33% {
        opacity: 1;
    }

    67% {
        opacity: 0;
    }
}

:root {
    --color-scheme: light dark;
    --dark-background: #1e1e1e;
    --text-color-bright: #d1d0c5;
    --text-color-dark: #333;
    --main-color: #e2b714;
    --red: #ca4754;
    --black: #222;
    --text-color-subdued: #646669;
}