@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes blink {
    0%,
    33% {
        opacity: 1;
    }

    67% {
        opacity: 0;
    }
}

:root {
    --color-scheme: light dark;
    --typed: #d1d0c5 --green: #00b755;
    --yellow: #e2b714;
    --red: #ca4754;
    --black: #222;
    --gray: #646669;
}