@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes blink {
    0%,
    33% {
        opacity: 1;
    }

    67% {
        opacity: 0;
    }
}

:root {
    --color-scheme: light dark;
    --dark-background: #1e1e1e;
    --text-color: #d1d0c5;
    --yellow: #e2b714;
    --red: #ca4754;
    --black: #222;
    --gray: #646669;
}